<script setup lang="ts">
import FramePorfile from "@/components/FramePorfile.vue";
import { ref } from "vue";
const frameList = ref([
  {
    name: "Choi-Hyun-suk ",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314379224_667628841401218_2604217318043735334_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeE7KyGmtZ3s7IMnICQ2Sp3aLr9Yyd_QVWouv1jJ39BVasWtLhknIY-So1ZeTNQ7aPBNBtKnWJHINX_Dal58UJH1&_nc_ohc=HpGfFx37fKsAX-NiUpb&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDQNd_OTjGHIVYJdpd_UBXDiHEpCOE-AAVacpJvLchcLg&oe=63A2639C",
  },
  {
    name: "Jihoon",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314609176_667628938067875_599552825350195902_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeHoHy2ZJebOhm9fDIW7HhJrWPH8p1HVj3xY8fynUdWPfPspjD1p8v8cIq8l2vAjawchzCfilLqxBYZ0eMXSdno-&_nc_ohc=9Mk_YzFOK6QAX8gqoBx&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDeyh2eOO-mUcP0fEcpgfmrkAd2Lxp-07-Ld9_yvzCqIw&oe=63A34FD1",
  },
  {
    name: "Yoshi",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314497419_667629111401191_1331640088817659969_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeHhsMWdscT_mqinP4w-55mAuNtCS770l1S420JLvvSXVJBaQ9f08j08Vtc7kxYva7TK4YIiw2iVBl2lR2lbD9Hy&_nc_ohc=kSeamFbVTWAAX_-PPqm&tn=9e7VYRNaXwC6rUA3&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfC82c6upbPT-0SfxvUAui8kW4yU1A9UD6xqbyMsg_r7JA&oe=63A1F612",
  },
  {
    name: "Junkyu",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314863111_667629238067845_2670258857948785460_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGpraMuXIs8HMyPxPuBnE86Hb2zii6r-yMdvbOKLqv7I26_AYmuxOmdFw2YgHYl11dZydOl2v_l-w6kbDzhmXPl&_nc_ohc=M1Z_pH9wtjsAX9kOYuW&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfADgvt-lKZXksrFtVjes02yXDcld51fPlLfGHqKKiT9pg&oe=63A1E7EF",
  },
  {
    name: "Yoon-Jae-hyuk ",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/313417265_667629351401167_2743853980056205741_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeERhzqKBmkxDUqdlKw-q2Kw1DEwF9DbArfUMTAX0NsCt4z--DeBu9lwxQuinVPpTGr47vtd3m0bl3M1UNluBkfj&_nc_ohc=4YjSzpTmM-0AX-cD2vP&tn=9e7VYRNaXwC6rUA3&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCQsjKcJ_dqhkjJI5UfT3-oxqxTju0li0TVePfKLrhXmQ&oe=63A3403B",
  },
]);

const frameListtwo = ref([
  {
    name: "Asahi",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/313418142_667629444734491_2469159347117929530_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFQut3kdDBeAVOwM6eIt01B_92p_noesyX_3an-eh6zJRQ_83TV0niL_0Oi3YRngucHzovRcmwDQQInSy4TYhAA&_nc_ohc=sHZ1U8xQK4gAX-mYGrj&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfAWmOyUbNUd3MFSho-Hyzj4CbUsRPXdD0Jfkyo6xR-oYQ&oe=63A36ADD",
  },
  {
    name: "Doyoung",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/315093189_667629558067813_2031913973840797355_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEaxqzW463IGXtalVyagycfaaXT2kP-fIJppdPaQ_58gqCKpCD2UEFej7vYBCvbZB9CvQ4Zpd8ZYG6tbWj8LJhi&_nc_ohc=LzR7TOEVZBsAX8Kj5D1&tn=9e7VYRNaXwC6rUA3&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDu8SQ5GSbyCa1TgWL5fU3ZZZw8KaUKKOwK_OL40g5B7w&oe=63A31A33",
  },
  {
    name: "Haruto",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/313405016_667629631401139_4494688817556788644_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEBfe-TGFOlAY7XdX8C7OVIgpPqavMFdW-Ck-pq8wV1b3fwblkG0TtFp7VazfCmN0w_JtWxqnVv8f1BX9-uDU1g&_nc_ohc=3VWDGnQHxNAAX9R7l7K&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCKQhMToZAmU2CELTpt49tCT_T8xh3qYPSm13v8Ac1xQw&oe=63A2E425",
  },
  {
    name: "Park-Jeong-woo",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/313405906_667629741401128_7183572527112127802_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFgrpPAEXGmlFxRvhZR8-xdOorzQ9TngeE6ivND1OeB4TgW6tTXdHGMr8Z5HmgEQvBD_L6FI-32E-6Y2chjflc6&_nc_ohc=QFn8yLZE70wAX83xSIr&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCSzfpxXcGuyBdkkHbqCnupQyCzoQkjW4yqezrEJxoADg&oe=63A36049",
  },
  {
    name: "So-Jung-hwan",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314589263_667629928067776_2627483284767275160_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEoCYYnK9pOq8V7_LsvLz2bJsyVZy4L9mYmzJVnLgv2Zqxo93xOzdvUSo9Pbh4wpk8McLNbMou9C3RONuRhpu_T&_nc_ohc=1XF0f3uBagcAX8JntgT&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCa1J2ziGapXCMw8ZmbtB502IcWJgfBT1g5v3NAie-9Dg&oe=63A271EE",
  },
]);
</script>

<template>
  <v-banner
    avatar="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/61029422_2448392742056051_5172166945474084864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFNI6xRbx1Dh2uEMM2pOwYDABkkFRXHY4gAGSQVFcdjiIYVpSrBvJ0dSFPm0A6SzJOD1scU5xJhFTPSXFTAWBja&_nc_ohc=ISmJGAkmMWsAX9uDdcr&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCiiv--ylbHd-LfJFxFmxiGWnnm4xZOZlZZ4tNYF0UkOg&oe=63C5434F"
    text="Name: Kittiyaporn Ngamlert"
  >
  </v-banner>
  <v-banner text="Education">
    <v-container>
      <v-row justify="center">
        <v-col cols="10">
          <v-table>
            <thead>
              <tr>
                <th>Grade</th>
                <th>School</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Grade 1-6</td>
                <td>Mandanarumol School</td>
              </tr>
              <tr>
                <td>Middle school</td>
                <td>Mandanarumol School</td>
              </tr>
              <tr>
                <td>High school</td>
                <td>Benchamaratrangsarit School</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-banner>

  <v-banner text="Interes: Treasure">
    <v-container>
      <v-row>
        <v-col v-for="(item, index) of frameList" :key="index">
          <FramePorfile :name="item.name" :img="item.img"></FramePorfile>
        </v-col>
      </v-row>
      <v-row>
        <v-col v-for="(item, index) of frameListtwo" :key="index">
          <FramePorfile :name="item.name" :img="item.img"></FramePorfile>
        </v-col>
      </v-row>
    </v-container>
  </v-banner>
</template>
