<script lang="ts" setup>
import { ref } from "vue";
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <v-card class="mx-auto" max-width="200" variant="outlined">
    <v-img :src="props.img" height="200px" cover></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
      </div>
    </v-card-item>
  </v-card>
</template>
