<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/61029422_2448392742056051_5172166945474084864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFNI6xRbx1Dh2uEMM2pOwYDABkkFRXHY4gAGSQVFcdjiIYVpSrBvJ0dSFPm0A6SzJOD1scU5xJhFTPSXFTAWBja&_nc_ohc=ISmJGAkmMWsAX9uDdcr&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCiiv--ylbHd-LfJFxFmxiGWnnm4xZOZlZZ4tNYF0UkOg&oe=63C5434F"
          title="
          kittiyaporn Ngamlert"
          subtitle="64160232@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="shared"
          to="/share-with-me"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiVuetify,
  mdiCheckboxMarkedCircle,
} from "@mdi/js";
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
